<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="21.2.8" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.Data.WPF" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.SfGrid.WPF" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="20.1.0.60" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.1.0.60" targetFramework="net472" />
</packages>